<html
    xmlns:wacon="http://typo3.org/ns/Wacon/Feuserregistration/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:form.validationResults>
        <f:if condition="{validationResults.flattenedErrors}">
            <div class="alert alert-danger">
                <h2><f:translate key="validation.error.title" extensionName="alm_displaycustomers" /></h2>
                <ul class="errors mb-0">
                    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                        <f:variable name="newPropertyPath" value="{wacon:format.replace(subject: propertyPath, replace: 'register.form.', search: 'newUser.')}" />
                        <li><f:translate key="{newPropertyPath}" extensionName="feuserregistration" default="{propertyPath}" />
                            <ul>
                                <f:for each="{errors}" as="error">
                                    <li>{error}</li>
                                </f:for>
                            </ul>
                        </li>
                    </f:for>
                </ul>
            </div>
        </f:if>
    </f:form.validationResults>
</html>