/**************************************************
 * ROOT - START
 *************************************************/
.feuserregistration {
    --bs-danger: #FF0000;
    --bs-danger-rgb: 255, 0, 0;
    --bs-danger-light: #FF9F9F;
}

.text-decoration-none {
    text-decoration: none !important;
}
/**************************************************
 * ROOT - END
 *************************************************/
/***************************************************
 * CAPTCHA - START
 **************************************************/
.captcha-readaloud .icon {
    width: 25px;
    height: auto;
    pointer-events: none;
}

/***************************************************
 * CAPTCHA - END
 **************************************************/
/**************************************************
 * ERRORS / MESSAGES - START
 *************************************************/
.feuserregistration .f3-form-error {
    border: 1px solid var(--bs-danger);
    background-color: var(--bs-danger-light);
}

.feuserregistration .alert ul.errors ul,
.feuserregistration .alert ul.errors li {
    margin-bottom: 0;
}

/**************************************************
 * ERRORS / MESSAGES - END
 *************************************************/
